<div class="layui-container dashboard-page-monitor-inner" style="padding-top: 70px; background-color: #F2F2F2;">
	<div class="layui-card" id="monitor_loading">
		<div class="layui-card-header" style="text-align: center;">【正在連線】</div>
		<div class="layui-card-body">
			<div style="text-align: center;">正在載入任務監控資料…</div>
		</div>
	</div>
	<div class="layui-card" style="display: none;" id="no_task">
		<div class="layui-card-header" style="text-align: center;">【當前無任務】</div>
		<div class="layui-card-body">
			<div style="text-align: center;">當前任務佇列為空</div>
		</div>
	</div>
	<div class="layui-row" id="task_info_panel"></div>
</div>
