<!DOCTYPE html>
<html>
	<head>
		{% include 'dashboard_head.html' %}
		<link rel="stylesheet" href="../static/layui/css/layui.css">
		<link rel="stylesheet" href="../static/css/bootstrap-switch.min.css" />
		<script src="../static/js/bootstrap-switch.min-3.3.4.js"></script>
		<link rel="stylesheet" href="../static/css/bootstrap-select.min.css" />
		<script src="../static/js/bootstrap-select.min.js"></script>
		<link rel="stylesheet" href="../static/css/fontawesome.all.min.css" />
		<script src="../static/layui/layui.js"></script>
		<script src="../static/js/sn_list.js"></script>
		<script src="../static/js/manual_task.js"></script>
		<script src="../static/js/monitor.js"></script>
		<link rel="stylesheet" href="../static/css/aniGamerPlus.css" />
		<title>任務監控中心 - aniGamerPlus控制臺</title>
	</head>
	<body>
		{% include 'navbar.html' %}
		{% include 'manual_task_modal.html' %}
		{% include 'sn_list_modal.html' %}

		<div class="layui-container" style="padding-top: 70px; background-color: #F2F2F2;">

			<div class="layui-card" style="display: none;" id="no_task">
				<div class="layui-card-header"  style="text-align: center;">【當前無任務】</div>
				<div class="layui-card-body">
					<div style="text-align: center;">當前任務佇列為空</div>
				</div>
			</div>
			
			<div class="layui-row" id="task_info_panel">
			</div>
		</div>
		
	</body>
</html>
